/* styles/Sidebar.module.css */

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: var(--sidebar-background-color);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebarContent {
  margin-top: 40px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

.githubIcon {
  padding: 20px;
  text-align: bottom;
}

.githubIcon a {
  color: inherit;
}